<link rel="stylesheet" href="stylesheets/style.css">
<title>Group chat</title>
<div class="chat container">
	<p>Chating here:</p>
	<pre width="80" id="chat-messages">VVelcum to group chat!
	</pre>
	<label for="name-input">Name:</label>
	<input type="text" id="name-input" value="Bunny"><br>
	<label for="message-input">Message:</label>
	<input type="text" id="message-input">
	<button id="send-button">Send</button>
</div>
<div class="control container">
	<p>Testing here:</p>
	<label for="id-input">ID</label>
	<input type="number" id="id-input"><br>
	<label for="id-input">New content</label>
	<input type="text" id="new-message-input"><br>
	<button id="get-all-message">Refresh</button>
	<button id="get-message-by-id">Get message by ID</button>
	<button id="delete-message-by-id">Delete message by ID</button>
	<button id="update-message-by-id">Update message by ID</button><br>
	<pre id="responds" width="80"></pre>
</div>
<script src="javascripts/main.js"></script>